<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'navbar2.html' %}
 {% block content %}
    {% load static %}
    {% load static %}<link href="{% static 'css/displaybook.css'%}" rel="stylesheet">
    <div>
        <form>
        <h2 align="center">Book Details</h2>
            <table align="center" border="2" class="table">
                <tr>
                    <th>Id</th>
                    <th>Student Name</th>
                    <th>Book Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                {% for i in ddata %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.S_name }}</td>
                        <td>{{ i.S_Book_name }}</td>
                        <td>{{ i.Start_date }}</td>
                        <td>{{ i.Start_end }}</td>
                    </tr>
                {% endfor%}
            </table>
        </form>
    </div>
{% endblock %}

</body>
</html>