{% extends 'navbar2.html' %}
{% load static %}

{% block content %}
<head>
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
</head>

<section>
    <div class="container py-5">
      <div class="row" >
          <div class="col-lg-4">
             <div class="card mb-4">
                <div class="card-boad text-center">
                    <h5 class="my-3">{{ data.Student_name }}</h5>
                    <div class="d-flex justify-content-center mb-2">
                        <a href="{% url 'updateprof' data.id %}">
                            <button type="button" class="btn btn-primary">Edit Profile</button>
                        </a>
                    </div>
                </div>
             </div>
          </div>
          <div class="col-lgl8">
              <div class="card mb-4">
                 <div class="card-body">
                     <div class="row">
                         <div class="col-sm-3">
                             <p class="mb-0">Full Name</p>
                         </div>
                         <div class="col-sm-9">
                             <p class="text-muted mb-0">{{ data.Student_name }}</p>
                         </div>
                     </div>
                     <hr>
                             <div class="row">
                         <div class="col-sm-3">
                             <p class="mb-0">Phno</p>
                         </div>
                         <div class="col-sm-9">
                             <p class="text-muted mb-0">{{ data.Student_phone }}</p>
                         </div>
                     </div>
                     <hr>
                             <div class="row">
                         <div class="col-sm-3">
                             <p class="mb-0">course</p>
                         </div>
                         <div class="col-sm-9">
                             <p class="text-muted mb-0">{{ data.Student_Course_id }}</p>
                         </div>
                     </div>
                     <hr>
                              <div class="row">
                         <div class="col-sm-3">
                             <p class="mb-0">Semester</p>
                         </div>
                         <div class="col-sm-9">
                             <p class="text-muted mb-0">{{ data.Student_sem }}</p>
                         </div>
                     </div>
                     <hr>

                 </div>
              </div>
          </div>
      </div>
    </div>
</section>


{% endblock %}